SDformer/experiments/mlruns/183153168054988814/models/m-d45133ebdb944b71863a88193bc77132/artifacts/data/model.pth filter=lfs diff=lfs merge=lfs -text
SDformer/experiments/checkpoints/bs4_resume_epoch15_to60_20260424_163657/checkpoint_epoch59.pth filter=lfs diff=lfs merge=lfs -text
