literature/*.pdf
literature/*.txt
producer_rtl/obj/
producer_rtl/run.log
producer_rtl/cases.bin
producer_rtl/runner.log
literature/firefly_code_v1/
literature/firefly_code_v2/
literature/*.png
literature/compass_ae_readme.md
literature/compass_update.md
literature/compass_*.py
literature/compass_*.sh
literature/compass_*.cfg
literature/ctransformer_*.py
literature/ctransformer_*_readme.md
